version: "3.9"

services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - .:/var/www
      - /var/www/vendor
    ports:
      - "1100:1100"
    depends_on:
      - mysql

    # command: sh -c "php artisan migrate --force && php artisan serve --host=0.0.0.0 --port=1100"
    command: "php artisan serve --host=0.0.0.0 --port=1100 && php artisan key:generate"

  mysql:
    image: mysql:8
    container_name: laravel_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: laravel_vue_ecommerce
      MYSQL_USER: user
      MYSQL_PASSWORD: userpass
      MYSQL_ROOT_PASSWORD: rootpass
    volumes:
      - mysql_volume:/var/lib/mysql
    ports:
      - "3306:3306"

  node:
    image: node:18
    container_name: vite
    working_dir: /var/www
    volumes:
      - .:/var/www
    ports:
      - "5173:5173"
    command: sh -c "npm install && npm run dev -- --host --port=5173"
    depends_on:
      - app



  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: pma
    restart: unless-stopped
    environment:
      PMA_HOST: mysql
    ports:
      - "8080:80"
    depends_on:
      - mysql

volumes:
  mysql_volume:
